# Next.js build and dependency files
node_modules/
.next/
out/
build/

# Typescript build info
*.tsbuildinfo
next-env.d.ts

# Debug and env files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
!.env.example
.vercel
.DS_Store
*.pem
